@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#play_count {
    font-family: 'Bazzi';
    font-size: 50px;
    text-align: center;
}

#mp {
    top: 0px;
    left: 0px;
    border: 1px solid black;
}

.titlebar {
    border: 1px solid black;
}

.window-title {
    padding: 0;
    margin: 0;
    text-align: left;
    color: black;
    font-family: "Bazzi";
    font-size: 30px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-color: #e5576e;
    border: 1px solid black;
}